*.iml
*.jpg
*.log
*.mp4
*.mpjpeg
*.png
*.ppm
*.yuyv
.DS_Store
.aws
.gradle
.idea
.vagrant
/gg/root
aws-console-links.html
bin
blog-posts/001/shared
build
gdk-config.json
greengrass-build
local-debug-console.html
obj
target
zip-build
